@using CFT.Standard.Web.Helpers
@model CFT.Standard.BL.Models.ViewModels.AllBanksViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <style>
        .table-banks{
            border-collapse: collapse;
        }
        .table-banks tr td, .table-banks tr th{
            padding: 3px;
            border: 1px solid black;
        }


    
    </style>
    <script>

        function deleteBank(id) {
            $.post('/api/DeleteBank/' + id,
                function() {
                    window.location.reload();
                });
        }

        function editBank(id) {
            window.location = "/Bank/Edit/" + id;
        }


    </script>
</head>
<body>

@using (@Html.BeginForm())
{
    <a href="/Bank/Add">Добавить банк</a>
    <br/>
    <br/>
    @:Найти банк по названию или БИК: @Html.TextBoxFor(m=>m.Filter) <input type="submit" value="Поиск">
    <br />
    <br />

    <table class="table-banks">
        <tr><th>Создано</th><th>Кем создано</th><th>Название банка</th><th>БИК</th><th>Изменить</th><th>Удалить</th></tr>
        @foreach (var bank in @Model.Banks)
        {
            <tr><td>@WebConvertationHelper.ToDateFormat(bank.Created)</td> <td>@bank.Author.LookupValue</td><td>@bank.Title</td><td>@bank.Bik</td><td><a href="javascript:editBank(@bank.Id)">Изменить</a></td><td><a href="javascript:deleteBank(@bank.Id)">Удалить</a></td></tr>
        }
    </table>
}
</body>
</html>
